<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--  引入properties文件  -->
    <properties resource="jdbc.properties"/>

    <!--  修改包名  -->
    <typeAliases>
        <package name="com.nico.acgcommunity.pojo"/>
    </typeAliases>


    <environments default="development">
        <!--  设置数据库连接参数  -->
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>


    <!--  设置mapper映射  -->
    <mappers>
        <package name="com.nico.acgcommunity.mapper"/>
    </mappers>

</configuration>